<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commomHead(title)">
    <meta content="text/html;charset=UTF-8"/>
    <title th:text="${title}"></title>

    <link th:href="@{/css/newAdmin/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/newAdmin/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/css/newAdmin/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin-main.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/niceValidate/jquery.validator.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.validator.js}"></script>
    <script type="text/javascript" th:src="@{/js/zh_CN.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/icon.css}">
    <script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui-lang-zh_CN.js}"></script>
</head>
</html>
   