<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolo.wechat.mapper.OnthelistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dolo.wechat.entity.Onthelist">
        <id column="openid" property="openid" />
        <result column="subscribe" property="subscribe" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="city" property="city" />
        <result column="province" property="province" />
        <result column="country" property="country" />
        <result column="language" property="language" />
        <result column="headimgurl" property="headimgurl" />
        <result column="subscribe_time" property="subscribeTime" />
        <result column="unsubscribe_time" property="unsubscribeTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="unionid" property="unionid" />
        <result column="id_card_number" property="idCardNumber" />
        <result column="subscribe_flag" property="subscribeFlag" />
        <result column="accountId" property="accountId" />
    </resultMap>

</mapper>
