<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolo.wechat.mapper.WxMenuTmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dolo.wechat.entity.WxMenuTmp">
        <id column="id" property="id" />
        <result column="menu_id" property="menuId" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="menu_type" property="menuType" />
        <result column="menu_order" property="menuOrder" />
        <result column="role" property="role" />
        <result column="properties" property="properties" />
        <result column="flag" property="flag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="accountId" property="accountId" />
    </resultMap>

</mapper>
